body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.calculator {
    background: rgb(96, 142, 148);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(99, 98, 98, 0.1);
    text-align: center;
}

.calculator h2 {
    margin-bottom: 20px;
}

.calculator label {
    margin: 10px 0;
    display: inline-block;
}

.calculator input {
    margin-bottom: 10px;
}

.calculator button {
    margin: 5px;
    padding: 10px;
    color: #0e0404;
    background: rgba(220, 118, 230, 0.274);
}

#result {
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}
